@charset "utf-8";

@font-face {
    font-family: ProductSans-Bold;
    src: url("fonts/ProductSans-Bold.ttf");
}
@font-face {
    font-family: ProductSans-Medium;
    src: url("fonts/ProductSans-Medium.ttf");
}


/* Navbar */
#nav-title {
    color: #007C92;
    font-size: 3.5em;
    font-family: ProductSans-Bold;
}

#nav-icon {
    width: 65px;
    margin-bottom: 12px;
}

.nav-link {
    font-family: ProductSans-Medium;
    font-size: 1.2em;
}
#nav-link:hover {
    color: #007C92;
}
#dropdown-nav a:hover {
    color: #007C92;
}
#kycu {
    font-family: ProductSans-Medium; 
    font-size: 1.2em;
}
#kycu:hover {
    background-color: #007C92;
}
.dropdown-menu {
    font-family: ProductSans-Medium;
    font-size: 1.2em;
}


/* Cover Photo */
.jumbotron {
    font-family: ProductSans-Bold;
    background: url(img/conf-pics/cover-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    border-radius: 0px;
}
.jumbotron h1 {
    font-size: 100px;
}
.jumbotron p {
    font-family: ProductSans-Medium;
}
#cover-hashtag {
    font-family: ProductSans-Bold;
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 50px;
    }
}



/* Conferences */
.conferences-card {
    border: 0;
    /* border-radius: 25px;   */
}
.conferences-card:hover {
    box-shadow: 0px 0px 10px 0px #838383;
}
.conferences-card p {
    font-family: ProductSans-Bold;
    color: #007C92;
}
.conferences-card h5 {
    font-family: ProductSans-Medium;
}
.conferences-card > .card-body {
    height: 192px;
}

/* Search */
#kerko-row {
    margin-top: 75px;
    margin-bottom: 25px;
}
#kerko-row i {
    font-size: 1.5em;
    color: #007C92;
}
#kerko-row i:hover {
    color: #0392ac;
}
.filter-btn {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: white;
}
#kerko {
    font-family: ProductSans-Medium;
    font-size: 1.3em;
    width: 50%;
    /* height: 40px; */
    padding: 5px;
    margin-bottom: 25px;
    border: 0;
    border-bottom: 2px solid #007C92;
    border-radius: 0;
}

/* Modal */
.modal {
    font-family: ProductSans-Medium;
    text-align: left;
}
.modal-title {
    font-size: 1.8em;
}
.form-group label {
    font-size: 1.2em;
}
#modal-ruaj > .ruaj-btn {
    background-color: #007C92;
    color: white;
    width: 40%;
    border-radius: 25px;
}
#modal-ruaj > .ruaj-btn:hover {
    background-color:#0392ac;
    
}

textarea:hover,
        input:hover,
        textarea:active,
        input:active,
        textarea:focus,
        input:focus,
        button:focus,
        button:active,
        button:hover,
        label:focus,
        .btn:active,
        .btn.active {
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none !important;
        }



/* This month */
#this-month-row {
    margin-top: 75px;
}
#this-month-title {
    font-family: ProductSans-Bold;
    font-size: 4em;
}
.this-month {
    color: #007C92;
}
.this-month:hover {
    color: #0392ac;
}
#other-conferences-row {
    margin-top: 50px;
}
#other-conferences-title {
    font-family: ProductSans-Bold;
    font-size: 4em;
}
.other-conferences {
    color: #007C92;
}
.other-conferences:hover {
    color: #0392ac;
}


/* Organizers */
.wrapper {
    font-family: ProductSans-Medium;
    overflow: auto;
    margin-top: 50px;
}
#organizers-row {
    margin-top: 100px;
}
#organizers-title {
    font-family: ProductSans-Bold;
    font-size: 4em;
    /* word-break: break-all; */
}
#organizers-row p {
    font-family: ProductSans-Medium;
}
#organizers {
    padding: 15px;
    width: 2350px;
    height: 335px;
    overflow: auto;
}
#organizers li {
    display: inline-block;
    padding: 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #838383;
}
#organizers li:hover {
    box-shadow: 0px 0px 15px 0px #838383;
}
.follow-item {
    background-color: white;
    color: black;
    border-radius: 25px;
}
.follow-item img {
    width: 100px;
    border-radius: 50%;
}
.follow-item a {
    color: black;
    text-decoration: none;
}
.follow-pic {
    margin-top: 15px;
}
.follow-name {
    font-family: ProductSans-Bold;
    font-size: 1.1em;
    margin-top: 25px;
}
.follow-btn {
    border: 3px solid #007C92;
    border-radius: 10px;
    color: #007C92;
    margin-top: 40px;
}
.follow-btn:hover {
    background-color: #007C92;
    color: white;
}
.follow-more {
    font-size: 6em;
    display: inline;
    margin-bottom: 50px;
    position: relative;
    top: -40px;
}
.follow-more i {
    color: #007C92;
}
.follow-more i:hover {
    color: #0392ac;
}
@media screen and (max-width: 600px) {
    #organizers-title {
        font-size: 50px;
    }
}


/* Footer */
#footer {
    font-family: ProductSans-Medium;
    background: url(img/footer-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 150px;
} 
#footer h3 {
    font-family: ProductSans-Medium;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
} 
#footer p {
    font-size: 20px;
    padding: 0;
    margin: 0 0 40px 0;
}
#footer .social-links {
    margin: 0 0 40px 0;
} 
#footer .social-links a {
    font-size: 15px;
    display: inline-block;
    background: #007C92;
    color: #fff;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}
#col-contents a {
    color: white;
}
#col-contents a:hover {
    color: rgb(209, 209, 209);
    text-decoration: none;
}
#col-contents h5 {
    font-size: 25px;
}
.social-links i {
    font-size: 25px;
}
#footer .social-links a:hover {
    background: #0392ac;
    color: #fff;
    text-decoration: none;
}  
#footer .copyright {
    margin: 0 0 5px 0;
}
#footer-copyright {
    font-size: 1.1em;
}



/* ---- PRODUCTS ---- */
#buy-online {
    background-color: rgb(241, 241, 241);
    margin-top: 50px;
}
#buy-online-title {
    font-family: ProductSans-Bold;
}
#buy-online-title h1 {
    font-size: 3.5em;
}
.buy-online-contents {
    font-family: ProductSans-Medium;
}
.buy-online-contents i {
    font-size: 3em;
    color: #007C92;
}

.products-card {
    font-family: ProductSans-Medium;
    height: 550px;
    border: 0;
    /* box-shadow: 0px 0px 8px 0px #838383; */
}
.products-card:hover {
    box-shadow: 0px 0px 15px 0px #838383;
}
.products-card > .card-body {
    height: 138px;
}

.products {
    margin-top: 100px;
}
.products .products-item {
    margin-bottom: 30px;
}
.products-card h5 {
    font-size: 1.4em;
}
.products-card p {
    font-size: 1.2em;
}
.products #products-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
.products #products-flters li {
    font-family: ProductSans-Medium;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 8px 16px;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}  
.products #products-flters li:hover, .products #products-flters li.filter-active {
    color: white;
    background: #007C92;
}  
.products #products-flters li:last-child {
    margin-right: 0;
} 
.products .products-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(54, 52, 58, 0.6);
} 
.products .products-wrap::before {
    content: "";
    background: rgba(54, 52, 58, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}  
.products .products-wrap img {
    transition: all ease-in-out 0.3s;
} 
.products .products-wrap .products-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
} 
.products .products-wrap .products-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
} 
.products .products-wrap .products-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}  
.products .products-wrap .products-links {
    text-align: center;
    z-index: 4;
} 
.products .products-wrap .products-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
} 
.products .products-wrap .products-links a:hover {
    color: #00cc95;
} 
.products .products-wrap:hover::before {
    opacity: 1;
} 
.products .products-wrap:hover img {
    transform: scale(1.2);
}  
.products .products-wrap:hover .products-info {
    opacity: 1;
}

.products-btn {
    width: 50%;
    font-size: 1.1em;
    border: 3px solid #007C92;
    background-color: #007C92;
    border-radius: 10px;
    color: white;
}
.products-btn:hover {
    border: 3px solid #0392ac;
    background-color: #0392ac;
    color: white;
}
.cart-btn {
    font-size: 1.1em;
    border: 3px solid #007C92;
    border-radius: 10px;
    color: #007C92;
}
.cart-btn:hover {
    background-color: #007C92;
    color: white;
}


/* ---- PRODUCTS CATEGORY ---- */
.products-categories {
    font-family: ProductSans-Medium;
    border: 0;
}
#products-categories-row {
    margin-top: 50px;
}
#categories-link {
    color: black;
}
.products-categories img {
    height: 150px;
}
.products-categories-img {
    padding: 25px;
    /* text-align: center; */
}
.products-categories-img h1 {
    font-size: 4em;
}
@media screen and (max-width: 600px) {
    .products-categories-img h1 {
        font-size: 3em;
    }
}





